* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar1 {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    width: 100vw;
    height: 5rem;
    background-color:#0B0C10;
    display: flex;
    align-items: center;
    justify-content:center;
    
}

.navbar1 li {
    list-style: none;
    /* margin: 12px 40px; */
}

.navbar1 ul {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:center;
}

#logo {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: jura, 'Courier New', Courier, monospace;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar2 {
    font-family: jura, 'Courier New', Courier, monospace;
    margin-top: 5rem;
    height: 4rem;
    z-index: 5;
    width: 100vw;
}

.navbar2 li {
    list-style: none;
    margin: 8px 35px;
}

.navbar2 ul {
    display: flex;
    padding-top: 15px; 
}

@media only screen and (width< 1000px){
    .navbar2 li {
        margin: 0px 10px;
    }
    #logo {
        font-size: 1.5rem;
    }
}

.navbar2 li a {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    align-items: center;
    font-size: 1rem;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.navbar2 li a:hover {
    background-color: rgba(102, 252, 241, 0.1);
    color:#66FCF1;
}



.tab-locator{
    color:#66FCF1;
    text-decoration: underline;
    color: #66FCF1;
}

.tab-locator-clr{
    background-color: #1F2833;
    border: none;
    text-decoration: underline;
    color: #66FCF1;
    transform: scale(1.2);
 }

.animation-container {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.animation-icon {
    width: 100%;
    height: 100%;
    background-color: #66FCF1;
    border-radius: 50%;
    animation: titleAnimation 0.5s infinite alternate;
}

@keyframes titleAnimation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-25px);
    }
}

.jura{
    font-family: jura, 'Segoe UI', Tahoma, Verdana, sans-serif,'Courier New', Courier, monospace;
}

footer{
    /* overflow-x: hidden; */
    background-color:#66FCF1;    
    height: 40px;
    width: 100vw;
}

.copywrite{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: black;
}


@media only screen and (width< 912px){
    
    }