.text{
    background-color:#1d1f25;    
    color: white;
    border-radius: 10px;
    margin: 20px 80px; 
    padding: 50px 80px;
    line-height: 1.8;
    font-family: jura, 'Courier New', Courier, monospace;
    font-size: 1.05rem;
    font-weight: 400;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.bg-img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body{
    background-color:#1F2833;   
}
    
p{
    word-spacing: 3px;
    padding: 12px 0;
    margin-bottom: 1rem;
}

@media only screen and (width< 912px){
    .text{
        margin: 15px 20px;
        padding: 30px 40px;
    }
}
